@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Ubuntu, system-ui, sans-serif;
  }
}

* {
  transition: all 0.1s;
  padding: 0;
  margin: 0;
}

/*Subtitulo en mi descripcion*/
.scanner span {
  color: transparent;
  position: relative;
  overflow: hidden;
}

.scanner span::before {
  content: "Desarrollador_Frontend...";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 5px solid #000000;
  overflow: hidden;
  color: #fff;
  animation: frontend 4s linear infinite;
}

@keyframes frontend {
  0% , 10% , 100% {
    width: 0;
  }

  10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    border-right-color: transparent;
  }

  11%,21%,31%,41%,51%,61%,71%,81%,91% {
    border-right-color: #8791DA;
  }

  50%, 80% {
    width: 100%;
  }
}